%h1
  = @user.name
  = "(Level: " + @user.level.to_s + ")"

%table
  %tr
    %th Name
    %td= @user.name
  %tr
    %th Level
    %td= @user.level
  %tr
    %th Life
    %td= @user.life
  %tr
    %th ATK
    %td= @user.atk
  %tr
    %th DEF
    %td= @user.def
