%h1 Ningress

- unless signed_in?
  = link_to 'login / sign up', '/users/sign_in'
- else
  = link_to 'logout', destroy_user_session_path, method: :delete, "data-confirm" => "Are you sure?"

  - @user = current_user
  = render 'profiles/show'

  %br
  = render 'position/acquire'

  - if current_user.footprint.present?
    #footprint
      %div
        longitude:
        = current_user.footprint.longitude
      %div
        latitude:
        = current_user.footprint.latitude
