%p#notice= notice

%h1 Listing Portals

%table
  %thead
    %tr
      %th Name
      %th Longitude
      %th Latitude
      %th{:colspan => "3"}
  %tbody
    - @portals.each do |portal|
      %tr
        %td= portal.name
        %td= portal.longitude
        %td= portal.latitude
        %td= link_to 'Show', portal
