<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @portal.name %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @portal.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @portal.latitude %>
</p>

<%= link_to 'Edit', edit_portal_path(@portal) %> |
<%= link_to 'Back', portals_path %>
